<% var title = "インデックスページ"; %>
<% var description = "**********"; %>
<% var keyword = "********"; %>
<% include common/_head %>
<% include common/_header %>

	<div id="contents">
		<nav id="breadcrumbs">
			<ol>
				<li>test git</li>
				<li></li>
				<li></li>
			</ol>
		</nav>
		<div id="content-wrapper">
			<main>
				<article>
					<header>
						<h2></h2>
						<p></p>
					</header>
					<section>
						<h3></h3>
						<p></p>
						<section>
							<h4></h4>
							<ul>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</section>
					</section>
					<section>
						<h3></h3>
						<p></p>
						<p></p>
					</section>
					<aside>
						<h3></h3>
						<p></p>
					</aside>
				</article>
				<aside>
					<h2></h2>
					<p></p>
				</aside>
			</main>
		</div>
		<div id="subcontent-wrapper">
			<nav>
				<h2></h2>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>
		</div>
	</div>

<% include common/_footer %>